{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container-lg">
        <div class="cards-wrapper">
    {% for post in object_list %}
        <div class="card card-custom p-4" >
          <img src="{{ post.photo.url }}" class="card-image" alt="...">
          <div class="card-body">
              <div class="title-description">Автор</div>
              <div class="congratulator">{{ post.author }}</div>
            <a href="{{ post.get_absolute_url }}" class="perfect-btn" style="margin-top: 10px">Посмотреть</a>
          </div>
        </div>
    {% endfor %}
    </div>

    </div>


{% endblock %}
{% block extra_scripts %}

{% endblock %}
